In [2]:
import pandas as pd
import numpy as np

data_raw = pd.read_csv('../raw/지역사회건강조사 1차 전처리.csv',sep ='\t')

C:\Users\hayoung\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (29,74,80,140,193,205,221,223,225,227,229,231,235,273) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data_raw

,examin_year,exmprs_no,age,sex,ctprvn_code,pbhlth_code,spot_no,hshld_code,mbhld_code,dong_ty_code,...,hwa_05z1,hwa_06z1,fea_01z2,fea_09z1,soa_01z1,soa_06z1,soa_07z1,sob_01z1,sob_02z1,sod_02z2
0,2019,2019111170001700121000201,61,2,11,11700017,121,2,1,1,...,2,2,8,NaN,1,4,1,3,1,1
1,2019,2019111170001700121000202,66,1,11,11700017,121,2,2,1,...,1,2,8,NaN,1,4,1,4,1,1
2,2019,2019111170001700121000401,89,2,11,11700017,121,4,1,1,...,1,2,8,NaN,2,13,8,3,1,3
3,2019,2019111170001700121000701,27,1,11,11700017,121,7,1,1,...,2,2,8,NaN,1,5,1,7,1,5
4,2019,2019111170001700121000801,42,2,11,11700017,121,8,1,1,...,2,1,1,NaN,2,13,8,7,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22925,2019,2019111170025427961000901,62,2,11,11700254,27961,9,1,1,...,1,1,8,NaN,2,12,8,5,1,1
22926,2019,2019111170025427961000902,65,1,11,11700254,27961,9,2,1,...,1,2,8,NaN,1,1,1,3,1,1
22927,2019,2019111170025427961001301,24,1,11,11700254,27961,13,1,1,...,1,1,8,NaN,2,11,8,6,4,5
22928,2019,2019111170025427961001302,56,2,11,11700254,27961,13,2,1,...,1,1,8,NaN,2,12,8,5,3,1
22929,2019,2019111170025427961001901,66,2,11,11700254,27961,19,1,1,...,1,1,8,NaN,2,12,8,3,1,1

In [4]:
data_pbhlth_code = pd.read_excel('../raw/지역사회건강조사 1차 전처리.csv',header=3)
data_pbhlth_code = data_pbhlth_code[data_pbhlth_code['시도코드'] == 11][['보건소코드','보건소명']]

data_pbhlth_code["보건소명"] = data_pbhlth_code["보건소명"].str.replace('보건소', '', regex=True)
data_pbhlth_code.columns=['보건소코드','자치구']
data_pbhlth_code.set_index('보건소코드',inplace=True)
data_pbhlth_code.to_dict()
data_pbhlth_code.to_dict()['자치구']

{11700190: '강남구',
 11700050: '강동구',
 11700246: '광진구',
 11700165: '동대문구',
 11700203: '서초구',
 11700092: '성동구',
 11700106: '송파구',
 11700181: '용산구',
 11700157: '중구',
 11700238: '강북구',
 11700025: '노원구',
 11700173: '도봉구',
 11700041: '서대문구',
 11700033: '성북구',
 11700076: '은평구',
 11700122: '종로구',
 11700114: '중랑구',
 11700149: '강서구',
 11700068: '관악구',
 11700220: '구로구',
 11700254: '금천구',
 11700131: '동작구',
 11700017: '마포구',
 11700211: '양천구',
 11700084: '영등포구'}

In [5]:
df_raw1 = data_raw[['age','sex','pbhlth_code','qoa_01z1','pha_04z1','pha_05z1','pha_06z1','pha_07z1','pha_08z1','pha_09z1','phb_01z1','phb_02z1','phb_03z1','obb_01z1','mta_01z1','mtb_01z1','qoc_07z1','ena_01d1','ena_01e1']]
index = ['만나이','성별','보건소번호','주관적 건강수준','격렬한 신체활동 일수','격렬한 신체활동 시간(시)','격렬한 신체활동 시간(분)','중등도 신체활동 일수','중등도 신체활동 시간(시)','중등도 신체활동 시간(분)','걷기 실천 일수','걷기 실천 시간(시)','걷기 실천 시간(분)','체중조절 경험 여부','주관적 스트레스 수준','우울감 경험 여부','행복감 지수','사회환경_동네 자연환경','사회환경_동네 생활환경']
df_raw1.columns = index
df_raw2 = df_raw1.copy() # SettingWithCopyWarning 없애려고 넣음..없어도 돌아는 감
df_raw2['자치구'] = df_raw2['보건소번호'].map(data_pbhlth_code.to_dict()['자치구'])
df_raw2 = df_raw2.drop(['보건소번호'],axis=1)
df_raw2

,만나이,성별,주관적 건강수준,격렬한 신체활동 일수,격렬한 신체활동 시간(시),격렬한 신체활동 시간(분),중등도 신체활동 일수,중등도 신체활동 시간(시),중등도 신체활동 시간(분),걷기 실천 일수,걷기 실천 시간(시),걷기 실천 시간(분),체중조절 경험 여부,주관적 스트레스 수준,우울감 경험 여부,행복감 지수,사회환경_동네 자연환경,사회환경_동네 생활환경,자치구
0,61,2,4,1,5,0,3,1,0,7,1,0,1,3,2,5,2,1,마포구
1,66,1,3,1,5,0,0,88,88,7,1,0,4,2,2,8,2,1,마포구
2,89,2,5,0,88,88,0,88,88,0,88,88,4,1,2,77,9,9,마포구
3,27,1,4,1,0,10,1,0,10,7,0,30,3,2,2,8,1,1,마포구
4,42,2,3,2,0,30,2,0,10,5,0,20,1,3,2,6,2,2,마포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22925,62,2,3,0,88,88,7,1,0,5,0,20,1,2,2,4,9,1,금천구
22926,65,1,4,7,2,0,7,2,0,0,88,88,2,2,2,10,2,2,금천구
22927,24,1,2,0,88,88,0,88,88,7,0,20,1,4,2,7,2,1,금천구
22928,56,2,3,0,88,88,0,88,88,3,2,0,1,4,2,7,1,1,금천구
22929,66,2,1,0,88,88,7,1,0,7,1,0,2,4,2,10,1,1,금천구

In [6]:
df_h = df_raw2[['만나이','성별','체중조절 경험 여부','자치구']]

In [7]:
df_h
print(df_h['체중조절 경험 여부'].value_counts(normalize = True))
df_hl1=df_h[df_h['체중조절 경험 여부'] != 9]
df_hl2=df_hl1[df_hl1['체중조절 경험 여부'] != 7]
df_hl2['체중조절 경험 여부'].value_counts(normalize = True)

1    0.465068
4    0.283079
2    0.199389
3    0.052246
9    0.000131
7    0.000087
Name: 체중조절 경험 여부, dtype: float64

1    0.465169
4    0.283141
2    0.199433
3    0.052257
Name: 체중조절 경험 여부, dtype: float64

In [20]:
df_h.loc[df_h["체중조절 경험 여부"] < 3, :]

       만나이  성별  체중조절 경험 여부  자치구
0       61   2           1  마포구
4       42   2           1  마포구
5       74   1           1  마포구
8       51   1           1  마포구
9       22   1           1  마포구
...    ...  ..         ...  ...
22925   62   2           1  금천구
22926   65   1           2  금천구
22927   24   1           1  금천구
22928   56   2           1  금천구
22929   66   2           2  금천구

[15236 rows x 4 columns]

In [8]:
data_pbhlth_code = pd.read_excel('../raw/지역사회건강조사 1차 전처리.csv',header=3)
data_pbhlth_code = data_pbhlth_code[data_pbhlth_code['시도코드'] == 11][['보건소코드','보건소명']]
data_pbhlth_code["보건소명"] = data_pbhlth_code["보건소명"].str.replace('보건소', '', regex=True)
data_pbhlth_code.columns=['보건소코드','자치구']
list_region = list(data_pbhlth_code.to_dict()['자치구'].values()) + ['서울시']
list_region.reverse()

In [18]:
list_df = []
for value in list_region:
    temp = df_hl2['자치구'] == value
    list_df.append(df_hl2[temp])
list_df[0] = df_hl2

In [39]:
list_age = ['19~200','19~44','45~64','65~74','75~200']
list_sex = ['계','남','여']
idx_sex = []
idx_age = []
idx_region = []
value_hl = ['체중조절 경험 여부']
for i, value1 in enumerate(list_region):
    for j in list_age:
        for k in list_sex:            
            temp = list_df[i][list_df[i]['만나이']>=int(j.split('~')[0])]
            temp1 = temp[temp['만나이'] < int(j.split('~')[1])]
            if k == '남':
                temp2 = temp1[temp1['성별'] == 1]
            elif k == '여':
                temp2 = temp1[temp1['성별'] == 2]
            else:
                temp2 = temp1
            temp3 = temp2['체중조절 경험 여부'].value_counts(normalize = True).to_dict()
            
            if 5 not in temp3:
                temp3[5] = 0
            if 1 not in temp3:
                temp3[1] = 0
                value_hl.append(round(100 - (temp3[3]+temp3[4])*100,1))
            
            if j == '19~200':
                idx_age.append('계')
            elif j == '75~200':
                idx_age.append('75 이상')
            else:
                idx_age.append(j)
            idx_sex.append(k)
            idx_region.append(value1)

In [40]:
df1 = pd.DataFrame({'체중조절 경험 여부':value_hl, '지역':idx_region,'연령별':idx_age,'성별':idx_sex})

df1 = df1.set_index(['지역','연령별','성별'])

df1

ValueError: arrays must all be same length