In [125]:
import pandas as pd
import numpy as np

data_raw = pd.read_csv('../raw/지역사회건강조사 원시자료/chs19_a.txt',sep ='\t')

C:\Users\ogres\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (29,74,80,140,193,205,221,223,225,227,229,231,235,273) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [126]:
data_raw

,examin_year,exmprs_no,age,sex,ctprvn_code,pbhlth_code,spot_no,hshld_code,mbhld_code,dong_ty_code,...,hwa_05z1,hwa_06z1,fea_01z2,fea_09z1,soa_01z1,soa_06z1,soa_07z1,sob_01z1,sob_02z1,sod_02z2
0,2019,2019111170001700121000201,61,2,11,11700017,121,2,1,1,...,2,2,8,NaN,1,4,1,3,1,1
1,2019,2019111170001700121000202,66,1,11,11700017,121,2,2,1,...,1,2,8,NaN,1,4,1,4,1,1
2,2019,2019111170001700121000401,89,2,11,11700017,121,4,1,1,...,1,2,8,NaN,2,13,8,3,1,3
3,2019,2019111170001700121000701,27,1,11,11700017,121,7,1,1,...,2,2,8,NaN,1,5,1,7,1,5
4,2019,2019111170001700121000801,42,2,11,11700017,121,8,1,1,...,2,1,1,NaN,2,13,8,7,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22925,2019,2019111170025427961000901,62,2,11,11700254,27961,9,1,1,...,1,1,8,NaN,2,12,8,5,1,1
22926,2019,2019111170025427961000902,65,1,11,11700254,27961,9,2,1,...,1,2,8,NaN,1,1,1,3,1,1
22927,2019,2019111170025427961001301,24,1,11,11700254,27961,13,1,1,...,1,1,8,NaN,2,11,8,6,4,5
22928,2019,2019111170025427961001302,56,2,11,11700254,27961,13,2,1,...,1,1,8,NaN,2,12,8,5,3,1
22929,2019,2019111170025427961001901,66,2,11,11700254,27961,19,1,1,...,1,1,8,NaN,2,12,8,3,1,1

In [127]:
data_pbhlth_code = pd.read_excel('../raw/지역사회건강조사 2019년 원시자료 이용지침서 등/지역사회건강조사 2019 원시자료 참고사항_보건소정보, 세대유형.xlsx',header=3)
data_pbhlth_code = data_pbhlth_code[data_pbhlth_code['시도코드'] == 11][['보건소코드','보건소명']]

data_pbhlth_code["보건소명"] = data_pbhlth_code["보건소명"].str.replace('보건소', '', regex=True)
data_pbhlth_code.columns=['보건소코드','자치구']
data_pbhlth_code.set_index('보건소코드',inplace=True)
data_pbhlth_code.to_dict()
data_pbhlth_code.to_dict()['자치구']

{11700190: '강남구',
 11700050: '강동구',
 11700246: '광진구',
 11700165: '동대문구',
 11700203: '서초구',
 11700092: '성동구',
 11700106: '송파구',
 11700181: '용산구',
 11700157: '중구',
 11700238: '강북구',
 11700025: '노원구',
 11700173: '도봉구',
 11700041: '서대문구',
 11700033: '성북구',
 11700076: '은평구',
 11700122: '종로구',
 11700114: '중랑구',
 11700149: '강서구',
 11700068: '관악구',
 11700220: '구로구',
 11700254: '금천구',
 11700131: '동작구',
 11700017: '마포구',
 11700211: '양천구',
 11700084: '영등포구'}

In [128]:
df_raw1 = data_raw[['age','sex','pbhlth_code','qoa_01z1','pha_04z1','pha_05z1','pha_06z1','pha_07z1','pha_08z1','pha_09z1','phb_01z1','phb_02z1','phb_03z1','obb_01z1','mta_01z1','mtb_01z1','qoc_07z1','ena_01d1','ena_01e1']]
index = ['만나이','성별','보건소번호','주관적 건강수준','격렬한 신체활동 일수','격렬한 신체활동 시간(시)','격렬한 신체활동 시간(분)','중등도 신체활동 일수','중등도 신체활동 시간(시)','중등도 신체활동 시간(분)','걷기 실천 일수','걷기 실천 시간(시)','걷기 실천 시간(분)','체중조절 경험 여부','주관적 스트레스 수준','우울감 경험 여부','행복감 지수','사회환경_동네 자연환경','사회환경_동네 생활환경']
df_raw1.columns = index
df_raw2 = df_raw1.copy() # SettingWithCopyWarning 없애려고 넣음..없어도 돌아는 감
df_raw2['자치구'] = df_raw2['보건소번호'].map(data_pbhlth_code.to_dict()['자치구'])
df_raw2 = df_raw2.drop(['보건소번호'],axis=1)
df_raw2

,만나이,성별,주관적 건강수준,격렬한 신체활동 일수,격렬한 신체활동 시간(시),격렬한 신체활동 시간(분),중등도 신체활동 일수,중등도 신체활동 시간(시),중등도 신체활동 시간(분),걷기 실천 일수,걷기 실천 시간(시),걷기 실천 시간(분),체중조절 경험 여부,주관적 스트레스 수준,우울감 경험 여부,행복감 지수,사회환경_동네 자연환경,사회환경_동네 생활환경,자치구
0,61,2,4,1,5,0,3,1,0,7,1,0,1,3,2,5,2,1,마포구
1,66,1,3,1,5,0,0,88,88,7,1,0,4,2,2,8,2,1,마포구
2,89,2,5,0,88,88,0,88,88,0,88,88,4,1,2,77,9,9,마포구
3,27,1,4,1,0,10,1,0,10,7,0,30,3,2,2,8,1,1,마포구
4,42,2,3,2,0,30,2,0,10,5,0,20,1,3,2,6,2,2,마포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22925,62,2,3,0,88,88,7,1,0,5,0,20,1,2,2,4,9,1,금천구
22926,65,1,4,7,2,0,7,2,0,0,88,88,2,2,2,10,2,2,금천구
22927,24,1,2,0,88,88,0,88,88,7,0,20,1,4,2,7,2,1,금천구
22928,56,2,3,0,88,88,0,88,88,3,2,0,1,4,2,7,1,1,금천구
22929,66,2,1,0,88,88,7,1,0,7,1,0,2,4,2,10,1,1,금천구

In [129]:
# 생애주기 구분
def func(x) :
    if x <= 44 :
        return "19-44세"
    elif x <= 64 : 
        return "45-64세"
    elif x <= 74 : 
        return "65-74세"
    else:
        return "75세 이상"

df_raw2["생애주기"] = df_raw2["만나이"].apply(lambda x : func(x))

In [130]:
df_raw2.columns

Index(['만나이', '성별', '주관적 건강수준', '격렬한 신체활동 일수', '격렬한 신체활동 시간(시)',
       '격렬한 신체활동 시간(분)', '중등도 신체활동 일수', '중등도 신체활동 시간(시)', '중등도 신체활동 시간(분)',
       '걷기 실천 일수', '걷기 실천 시간(시)', '걷기 실천 시간(분)', '체중조절 경험 여부', '주관적 스트레스 수준',
       '우울감 경험 여부', '행복감 지수', '사회환경_동네 자연환경', '사회환경_동네 생활환경', '자치구', '생애주기'],
      dtype='object')

In [131]:
df_activity = df_raw2.copy()[['자치구','만나이', '생애주기', '성별', '격렬한 신체활동 일수', '격렬한 신체활동 시간(시)',
       '격렬한 신체활동 시간(분)', '중등도 신체활동 일수', '중등도 신체활동 시간(시)', '중등도 신체활동 시간(분)',
       '걷기 실천 일수', '걷기 실천 시간(시)', '걷기 실천 시간(분)']]

In [132]:
df_activity

,자치구,만나이,생애주기,성별,격렬한 신체활동 일수,격렬한 신체활동 시간(시),격렬한 신체활동 시간(분),중등도 신체활동 일수,중등도 신체활동 시간(시),중등도 신체활동 시간(분),걷기 실천 일수,걷기 실천 시간(시),걷기 실천 시간(분)
0,마포구,61,45-64세,2,1,5,0,3,1,0,7,1,0
1,마포구,66,65-74세,1,1,5,0,0,88,88,7,1,0
2,마포구,89,75세 이상,2,0,88,88,0,88,88,0,88,88
3,마포구,27,19-44세,1,1,0,10,1,0,10,7,0,30
4,마포구,42,19-44세,2,2,0,30,2,0,10,5,0,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22925,금천구,62,45-64세,2,0,88,88,7,1,0,5,0,20
22926,금천구,65,65-74세,1,7,2,0,7,2,0,0,88,88
22927,금천구,24,19-44세,1,0,88,88,0,88,88,7,0,20
22928,금천구,56,45-64세,2,0,88,88,0,88,88,3,2,0
22929,금천구,66,65-74세,2,0,88,88,7,1,0,7,1,0

In [133]:
df_activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22930 entries, 0 to 22929
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   자치구             22930 non-null  object
 1   만나이             22930 non-null  int64
 2   생애주기            22930 non-null  object
 3   성별              22930 non-null  int64
 4   격렬한 신체활동 일수     22930 non-null  int64
 5   격렬한 신체활동 시간(시)  22930 non-null  int64
 6   격렬한 신체활동 시간(분)  22930 non-null  int64
 7   중등도 신체활동 일수     22930 non-null  int64
 8   중등도 신체활동 시간(시)  22930 non-null  int64
 9   중등도 신체활동 시간(분)  22930 non-null  int64
 10  걷기 실천 일수        22930 non-null  int64
 11  걷기 실천 시간(시)     22930 non-null  int64
 12  걷기 실천 시간(분)     22930 non-null  int64
dtypes: int64(11), object(2)
memory usage: 2.3+ MB

In [134]:
## 격렬한 운동 관련
# 시간 --> 분으로 환산
def transtime(df_activity) :
    if 0 <= df_activity['격렬한 신체활동 시간(시)'] <= 24 and df_activity['격렬한 신체활동 시간(분)'] <= 59 :
        return df_activity['격렬한 신체활동 시간(시)']*60 + df_activity['격렬한 신체활동 시간(분)']
    elif df_activity['격렬한 신체활동 시간(시)'] > 24 and df_activity['격렬한 신체활동 시간(분)'] <= 59 :
        return df_activity['격렬한 신체활동 시간(분)']
    else :
        return 0

df_activity["격렬_시분_환산"] = df_activity.apply(transtime, axis =1)
print("격렬한 운동 시분_환산 합: ",df_activity["격렬_시분_환산"].sum())

# 지표 환산
def health_index(df_activity) :
    if df_activity['격렬한 신체활동 일수'] < 3 :
        return 0
    elif 3 <= df_activity['격렬한 신체활동 일수'] and df_activity['격렬_시분_환산'] >= 20 :
        return 1
    else :
        return 0

df_activity['격렬한 신체활동 실천율_조율'] = df_activity.apply(health_index, axis =1)
print('격렬한 신체활동 실천 해당자 합 : ', df_activity['격렬한 신체활동 실천율_조율'].sum())

격렬한 운동 시분_환산 합:  591857
격렬한 신체활동 실천 해당자 합 :  3697

In [135]:
## 중등도 운동 관련
# 시간 --> 분으로 환산
def transtime(df_activity) :
    if 0 <= df_activity['중등도 신체활동 시간(시)'] <= 24 and df_activity['중등도 신체활동 시간(분)'] <= 59 :
        return df_activity['중등도 신체활동 시간(시)']*60 + df_activity['중등도 신체활동 시간(분)']
    elif df_activity['중등도 신체활동 시간(시)'] > 24 and df_activity['중등도 신체활동 시간(분)'] <= 59 :
        return df_activity['중등도 신체활동 시간(분)']
    else :
        return 0

df_activity["중등_시분_환산"] = df_activity.apply(transtime, axis =1)
print("중등도 운동 시분_환산 합: ",df_activity["중등_시분_환산"].sum())

# 지표 환산
def health_index(df_activity) :
    if df_activity['중등도 신체활동 일수'] < 5 :
        return 0
    elif 5 <= df_activity['중등도 신체활동 일수'] and df_activity['중등_시분_환산'] >= 30 :
        return 1
    else :
        return 0

df_activity['중등도 신체활동 실천율_조율'] = df_activity.apply(health_index, axis =1)
print('중등도 신체활동 실천 해당자 합 : ', df_activity['중등도 신체활동 실천율_조율'].sum())

중등도 운동 시분_환산 합:  658951
중등도 신체활동 실천 해당자 합 :  2378

In [137]:
df_activity

,자치구,만나이,생애주기,성별,격렬한 신체활동 일수,격렬한 신체활동 시간(시),격렬한 신체활동 시간(분),중등도 신체활동 일수,중등도 신체활동 시간(시),중등도 신체활동 시간(분),걷기 실천 일수,걷기 실천 시간(시),걷기 실천 시간(분),격렬_시분_환산,격렬한 신체활동 실천율_조율,중등_시분_환산,중등도 신체활동 실천율_조율
0,마포구,61,45-64세,2,1,5,0,3,1,0,7,1,0,300,0,60,0
1,마포구,66,65-74세,1,1,5,0,0,88,88,7,1,0,300,0,0,0
2,마포구,89,75세 이상,2,0,88,88,0,88,88,0,88,88,0,0,0,0
3,마포구,27,19-44세,1,1,0,10,1,0,10,7,0,30,10,0,10,0
4,마포구,42,19-44세,2,2,0,30,2,0,10,5,0,20,30,0,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22925,금천구,62,45-64세,2,0,88,88,7,1,0,5,0,20,0,0,60,1
22926,금천구,65,65-74세,1,7,2,0,7,2,0,0,88,88,120,1,120,1
22927,금천구,24,19-44세,1,0,88,88,0,88,88,7,0,20,0,0,0,0
22928,금천구,56,45-64세,2,0,88,88,0,88,88,3,2,0,0,0,0,0
22929,금천구,66,65-74세,2,0,88,88,7,1,0,7,1,0,0,0,60,1

In [163]:
df_activity.pivot_table(index=['자치구','생애주기','성별'],values = ['격렬한 신체활동 실천율_조율','중등도 신체활동 실천율_조율'],margins=True,margins_name='서울시')

               격렬한 신체활동 실천율_조율  중등도 신체활동 실천율_조율
자치구 생애주기   성별
강남구 19-44세 1          0.272222         0.111111
           2          0.115385         0.094017
    45-64세 1          0.146667         0.086667
           2          0.144279         0.094527
    65-74세 1          0.179487         0.179487
...                        ...              ...
중랑구 65-74세 1          0.207317         0.170732
           2          0.176471         0.082353
    75세 이상 1          0.055556         0.138889
           2          0.076923         0.019231
서울시                   0.161230         0.103707

[201 rows x 2 columns]