In [25]:
import pandas as pd

df = pd.read_csv('../raw/서울시 신고·등록 체육시설 통계_2019.txt', thousands = ',', sep ='\t',encoding='UTF8',skiprows = [1, 2])
df1 = pd.read_csv('../raw/서울시 주민등록인구 (연령별구별) 통계_2019_Q4.csv')
df.replace('-', '0', inplace = True)
df.replace('', '0', inplace = True)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 28 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기간         26 non-null     int64
 1   자치구        26 non-null     object
 2   합계         26 non-null     int64
 3   합계.1       26 non-null     int64
 4   신고체육시설     26 non-null     object
 5   신고체육시설.1   26 non-null     object
 6   신고체육시설.2   26 non-null     object
 7   신고체육시설.3   26 non-null     object
 8   신고체육시설.4   26 non-null     object
 9   신고체육시설.5   26 non-null     object
 10  신고체육시설.6   26 non-null     object
 11  신고체육시설.7   26 non-null     object
 12  신고체육시설.8   26 non-null     int64
 13  신고체육시설.9   26 non-null     int64
 14  신고체육시설.10  26 non-null     int64
 15  신고체육시설.11  26 non-null     int64
 16  신고체육시설.12  26 non-null     int64
 17  신고체육시설.13  26 non-null     int64
 18  신고체육시설.14  26 non-null     int64
 19  신고체육시설.15  26 non-null     int64
 20  신고체육시설.16  26 non-null     object
 21  신고체육시설.17  26 non-null     object
 22  신고체육시설.18  26 non-null     object
 23  신고체육시설.19  26 non-null     object
 24  신고체육시설.20  26 non-null     object
 25  신고체육시설.21  26 non-null     object
 26  등록체육시설     26 non-null     object
 27  등록체육시설.1   26 non-null     object
dtypes: int64(11), object(17)
memory usage: 5.8+ KB

In [27]:
df.head()

,기간,자치구,합계,합계.1,신고체육시설,신고체육시설.1,신고체육시설.2,신고체육시설.3,신고체육시설.4,신고체육시설.5,...,신고체육시설.14,신고체육시설.15,신고체육시설.16,신고체육시설.17,신고체육시설.18,신고체육시설.19,신고체육시설.20,신고체육시설.21,등록체육시설,등록체육시설.1
0,2019,서울시,10491,4073512,1,"27,620",14,"21,219",99,"317,965",...,3443,534582,3,"58,345",10,"6,449",77,"9,722",1,"998,126"
1,2019,종로구,203,72664,0,0,1,248,7,"19,054",...,100,19773,0,0,0,0,4,321,0,0
2,2019,중구,374,116711,0,0,1,909,8,"10,887",...,170,33387,0,0,0,0,13,"1,416",0,0
3,2019,용산구,168,122422,0,0,0,0,3,"10,780",...,44,7627,0,0,0,0,2,167,0,0
4,2019,성동구,271,64392,0,0,0,0,0,0,...,84,11953,0,0,0,0,4,"1,021",0,0

In [28]:
df.drop(['기간'], axis =1, inplace = True)
cols = df.columns
df.drop(cols[2:], axis = 1,inplace = True)

In [29]:
df.head()

   자치구     합계
0  서울시  10491
1  종로구    203
2   중구    374
3  용산구    168
4  성동구    271

In [30]:
df.rename(columns={'합계':'체육시설'}, inplace=True)
df.set_index('자치구',inplace=True)

In [31]:
df.head()

      체육시설
자치구
서울시  10491
종로구    203
중구     374
용산구    168
성동구    271

In [32]:
df1.set_index('자치구',inplace=True)
cols = df1.columns
df1.drop(cols[1:], axis = 1,inplace = True)
df1.head()

       주민등록인구
자치구
서울시  10010983
종로구    161869
중구     136488
용산구    245185
성동구    308979

In [33]:
df2 = pd.concat([df,df1],axis=1)
df2['1인당 체육시설'] = round(df2['체육시설']/df2['주민등록인구'],5)

In [36]:
df2

       체육시설    주민등록인구  1인당 체육시설
자치구
서울시   10491  10010983   0.00105
종로구     203    161869   0.00125
중구      374    136488   0.00274
용산구     168    245185   0.00069
성동구     271    308979   0.00088
광진구     359    366972   0.00098
동대문구    286    363023   0.00079
중랑구     354    402024   0.00088
성북구     354    454744   0.00078
강북구     225    317695   0.00071
도봉구     272    335631   0.00081
노원구     382    537303   0.00071
은평구     466    484546   0.00096
서대문구    245    323171   0.00076
마포구     390    385925   0.00101
양천구     444    462285   0.00096
강서구     582    598273   0.00097
구로구     485    439371   0.00110
금천구     306    251820   0.00122
영등포구    691    400986   0.00172
동작구     263    408912   0.00064
관악구     381    517334   0.00074
서초구     750    435107   0.00172
강남구    1064    550209   0.00193
송파구     707    682741   0.00104
강동구     469    440390   0.00106

In [37]:
df2.to_csv("../raw/서울시 신고_등록 체육시설 통계_2019.csv", encoding = 'utf-8-sig')