In [6]:
import pandas as pd
data_raw = pd.read_csv('../raw/지역사회건강조사 원시자료/chs15_a.txt',sep ='\t')

In [7]:
data_raw

,josa_year,id,age,sex,city_cd,bogun_cd,jijum_cd,gagu_cd,gaguw_cd,town_t,...,hwa_04z1,hwa_05z1,hwa_06z1,fea_01z2,soa_01z1,soa_06z1,soa_07z1,sob_01z1,sob_02z1,sod_02z2
0,2015,2015A00135852000901,58,2,A,1,35852,9,1,1,...,1,3,1,8,2,12,8,4,1,1
1,2015,2015A00135852000902,60,1,A,1,35852,9,2,1,...,2,3,1,8,1,9,2,5,1,1
2,2015,2015A00135852001702,52,2,A,1,35852,17,2,1,...,1,1,1,4,1,2,2,7,1,4
3,2015,2015A00135852001703,22,2,A,1,35852,17,3,1,...,4,1,1,1,2,11,8,7,4,5
4,2015,2015A00135852002501,51,2,A,1,35852,25,1,1,...,2,2,1,4,2,12,8,7,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22999,2015,2015A02523692000601,40,1,A,25,23692,6,1,1,...,3,3,2,8,2,13,8,7,3,5
23000,2015,2015A02523692001001,26,2,A,25,23692,10,1,1,...,1,1,1,1,2,11,8,7,4,5
23001,2015,2015A02523692003801,25,1,A,25,23692,38,1,1,...,1,1,1,8,1,2,2,7,1,5
23002,2015,2015A02523692005401,27,2,A,25,23692,54,1,1,...,1,1,2,1,1,2,2,7,4,5
23003,2015,2015A02523692007001,40,2,A,25,23692,70,1,1,...,1,2,1,1,1,2,2,7,1,5

In [8]:
data_pbhlth_code = pd.read_excel('../raw/지역사회건강조사 2015년 원시자료 이용지침서 및 지역별 코드/지역사회건강조사 지역명 참고사항.xlsx',header=3)
data_pbhlth_code = data_pbhlth_code[data_pbhlth_code['시도코드'] == 'A'][['보건소코드','보건소명']]

data_pbhlth_code["보건소명"] = data_pbhlth_code["보건소명"].str.replace('보건소', '', regex=True)
data_pbhlth_code.columns=['보건소코드','자치구']
data_pbhlth_code.set_index('보건소코드',inplace=True)
data_pbhlth_code.to_dict()
data_pbhlth_code.to_dict()['자치구']

{1.0: '강남구',
 2.0: '강동구',
 3.0: '강북구',
 4.0: '강서구',
 5.0: '관악구',
 6.0: '광진구',
 7.0: '구로구',
 8.0: '금천구',
 9.0: '노원구',
 10.0: '도봉구',
 11.0: '동대문구',
 12.0: '동작구',
 13.0: '마포구',
 14.0: '서대문구',
 15.0: '서초구',
 16.0: '성동구',
 17.0: '성북구',
 18.0: '송파구',
 19.0: '양천구',
 20.0: '영등포구',
 21.0: '용산구',
 22.0: '은평구',
 23.0: '종로구',
 24.0: '중구',
 25.0: '중랑구'}

In [9]:
df_raw1 = data_raw[['age','sex','bogun_cd','qoa_01z1','pha_04z1','pha_05z1','pha_06z1','pha_07z1','pha_08z1','pha_09z1','phb_01z1','phb_02z1','phb_03z1','obb_01z1','mta_01z1','mtb_01z1','qoc_07z1','ena_01d1','ena_01e1']]
index = ['만나이','성별','보건소번호','주관적 건강수준','격렬한 신체활동 일수','격렬한 신체활동 시간(시)','격렬한 신체활동 시간(분)','중등도 신체활동 일수','중등도 신체활동 시간(시)','중등도 신체활동 시간(분)','걷기 실천 일수','걷기 실천 시간(시)','걷기 실천 시간(분)','체중조절 경험 여부','주관적 스트레스 수준','우울감 경험 여부','행복감 지수','사회환경_동네 자연환경','사회환경_동네 생활환경']
df_raw1.columns = index
df_raw2 = df_raw1.copy() # SettingWithCopyWarning 없애려고 넣음..없어도 돌아는 감
df_raw2['자치구'] = df_raw2['보건소번호'].map(data_pbhlth_code.to_dict()['자치구'])
df_raw2 = df_raw2.drop(['보건소번호'],axis=1)
df_raw2

,만나이,성별,주관적 건강수준,격렬한 신체활동 일수,격렬한 신체활동 시간(시),격렬한 신체활동 시간(분),중등도 신체활동 일수,중등도 신체활동 시간(시),중등도 신체활동 시간(분),걷기 실천 일수,걷기 실천 시간(시),걷기 실천 시간(분),체중조절 경험 여부,주관적 스트레스 수준,우울감 경험 여부,행복감 지수,사회환경_동네 자연환경,사회환경_동네 생활환경,자치구
0,58,2,2,0,88,88,4,3,0,2,1,0,1,3,2,7,1,2,강남구
1,60,1,2,0,88,88,0,88,88,5,1,0,4,4,2,8,1,2,강남구
2,52,2,3,0,88,88,0,88,88,3,0,20,4,3,2,7,1,1,강남구
3,22,2,2,0,88,88,0,88,88,7,1,0,1,3,2,9,1,2,강남구
4,51,2,3,0,88,88,0,88,88,3,0,50,2,3,2,7,1,1,강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22999,40,1,2,1,2,0,0,88,88,7,2,0,1,4,2,6,1,1,중랑구
23000,26,2,3,2,1,0,2,0,30,4,0,20,3,2,2,5,1,1,중랑구
23001,25,1,2,2,2,0,2,2,0,7,12,0,1,3,2,10,1,1,중랑구
23002,27,2,1,1,2,0,0,88,88,5,0,40,1,2,2,7,2,1,중랑구
23003,40,2,3,0,88,88,0,88,88,4,1,0,4,2,2,8,2,1,중랑구

In [10]:
df_raw2.to_csv("../raw/지역사회건강조사 1차 전처리_2015.csv", mode='w',encoding = 'utf-8-sig')