In [9]:
import pandas as pd
import numpy as np

data_raw = pd.read_csv('../raw/지역사회건강조사 1차 전처리_2017.csv')

In [10]:
df = data_raw[['만나이','성별','사회환경_동네 자연환경','자치구']]

In [11]:
df_ne1=df[df['사회환경_동네 자연환경'] != 9]
df_ne2=df_ne1[df_ne1['사회환경_동네 자연환경'] != 7]
df_ne2

       만나이  성별  사회환경_동네 자연환경  자치구
0       82   2             1  강남구
1       51   2             1  강남구
2       26   1             2  강남구
3       24   1             1  강남구
4       27   2             1  강남구
...    ...  ..           ...  ...
22950   39   2             1  중랑구
22951   39   2             2  중랑구
22952   19   2             1  중랑구
22953   20   2             1  중랑구
22954   27   1             2  중랑구

[22700 rows x 4 columns]

In [12]:
data_pbhlth_code = pd.read_excel('../raw/지역사회건강조사 2019년 원시자료 이용지침서 등/지역사회건강조사 2019 원시자료 참고사항_보건소정보, 세대유형.xlsx',header=3)
data_pbhlth_code = data_pbhlth_code[data_pbhlth_code['시도코드'] == 11][['보건소코드','보건소명']]
data_pbhlth_code["보건소명"] = data_pbhlth_code["보건소명"].str.replace('보건소', '', regex=True)
data_pbhlth_code.columns=['보건소코드','자치구']
list_region = list(data_pbhlth_code.to_dict()['자치구'].values()) + ['서울시']
list_region.reverse()

In [13]:
list_df = []
for value in list_region:
    temp = df_ne2['자치구'] == value
    list_df.append(df_ne2[temp])
list_df[0] = df_ne2
list_df

[       만나이  성별  사회환경_동네 자연환경  자치구
 0       82   2             1  강남구
 1       51   2             1  강남구
 2       26   1             2  강남구
 3       24   1             1  강남구
 4       27   2             1  강남구
 ...    ...  ..           ...  ...
 22950   39   2             1  중랑구
 22951   39   2             2  중랑구
 22952   19   2             1  중랑구
 22953   20   2             1  중랑구
 22954   27   1             2  중랑구

 [22700 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경   자치구
 17450   73   2             1  영등포구
 17451   25   1             2  영등포구
 17452   26   2             1  영등포구
 17453   85   2             2  영등포구
 17454   57   1             1  영등포구
 ...    ...  ..           ...   ...
 18366   71   2             2  영등포구
 18367   58   2             1  영등포구
 18368   85   2             2  영등포구
 18369   61   1             2  영등포구
 18370   26   2             1  영등포구

 [920 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 16531   72   2             1  양천구
 16532   68   2             1  양천구
 16533   69   1             1  양천구
 16534   62   2             1  양천구
 16535   43   1             1  양천구
 ...    ...  ..           ...  ...
 17445   48   1             1  양천구
 17446   21   1             1  양천구
 17447   42   2             1  양천구
 17448   44   1             1  양천구
 17449   52   2             1  양천구

 [913 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 11011   67   1             2  마포구
 11012   72   1             1  마포구
 11013   68   2             2  마포구
 11014   37   1             1  마포구
 11015   50   2             1  마포구
 ...    ...  ..           ...  ...
 11921   52   2             2  마포구
 11922   26   1             2  마포구
 11923   62   2             2  마포구
 11924   59   1             2  마포구
 11925   58   1             2  마포구

 [902 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 10094   26   2             2  동작구
 10095   23   2             2  동작구
 10096   71   2             1  동작구
 10097   43   2             1  동작구
 10098   44   1             2  동작구
 ...    ...  ..           ...  ...
 11006   48   2             1  동작구
 11007   19   1             1  동작구
 11008   87   2             2  동작구
 11009   61   2             2  동작구
 11010   27   2             1  동작구

 [896 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 6422   26   2             2  금천구
 6423   28   1             2  금천구
 6424   24   1             2  금천구
 6425   44   2             2  금천구
 6426   24   1             1  금천구
 ...   ...  ..           ...  ...
 7332   23   1             1  금천구
 7333   21   2             2  금천구
 7334   57   2             2  금천구
 7335   26   2             2  금천구
 7336   60   1             1  금천구

 [905 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 5503   49   2             2  구로구
 5504   53   1             2  구로구
 5505   91   2             1  구로구
 5506   75   1             2  구로구
 5507   57   1             2  구로구
 ...   ...  ..           ...  ...
 6417   29   1             1  구로구
 6418   22   2             1  구로구
 6419   33   1             1  구로구
 6420   30   1             1  구로구
 6421   29   2             1  구로구

 [895 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 3672   21   1             2  관악구
 3673   55   2             1  관악구
 3674   23   1             1  관악구
 3675   24   1             2  관악구
 3676   23   1             2  관악구
 ...   ...  ..           ...  ...
 4582   35   1             1  관악구
 4583   37   2             1  관악구
 4584   37   1             1  관악구
 4585   83   1             1  관악구
 4586   75   2             1  관악구

 [914 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 2752   53   1             1  강서구
 2753   51   2             1  강서구
 2754   27   1             2  강서구
 2755   24   1             2  강서구
 2756   34   1             2  강서구
 ...   ...  ..           ...  ...
 3667   79   1             1  강서구
 3668   74   2             1  강서구
 3669   70   1             1  강서구
 3670   66   2             1  강서구
 3671   39   2             1  강서구

 [916 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 22040   41   1             1  중랑구
 22041   49   2             1  중랑구
 22042   52   1             1  중랑구
 22043   52   2             1  중랑구
 22044   54   1             2  중랑구
 ...    ...  ..           ...  ...
 22950   39   2             1  중랑구
 22951   39   2             2  중랑구
 22952   19   2             1  중랑구
 22953   20   2             1  중랑구
 22954   27   1             2  중랑구

 [887 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 20203   56   2             1  종로구
 20204   33   1             1  종로구
 20205   31   2             1  종로구
 20206   27   2             1  종로구
 20207   23   1             1  종로구
 ...    ...  ..           ...  ...
 21123   47   2             2  종로구
 21124   71   2             1  종로구
 21125   23   2             2  종로구
 21126   48   2             1  종로구
 21127   49   2             1  종로구

 [904 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 19288   36   2             2  은평구
 19289   30   1             1  은평구
 19290   34   1             1  은평구
 19291   50   2             1  은평구
 19292   73   1             1  은평구
 ...    ...  ..           ...  ...
 20198   19   1             1  은평구
 20199   44   1             1  은평구
 20200   55   2             1  은평구
 20201   36   2             1  은평구
 20202   37   1             1  은평구

 [914 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 14674   34   1             1  성북구
 14675   34   2             1  성북구
 14676   28   2             1  성북구
 14677   28   1             1  성북구
 14678   66   2             2  성북구
 ...    ...  ..           ...  ...
 15590   49   2             2  성북구
 15591   54   1             1  성북구
 15592   21   1             2  성북구
 15593   36   2             2  성북구
 15594   39   1             1  성북구

 [920 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경   자치구
 11926   77   1             2  서대문구
 11927   73   2             2  서대문구
 11928   59   2             1  서대문구
 11929   36   1             1  서대문구
 11930   78   2             2  서대문구
 ...    ...  ..           ...   ...
 12836   23   1             1  서대문구
 12838   46   1             1  서대문구
 12839   44   2             1  서대문구
 12840   45   1             1  서대문구
 12841   53   1             1  서대문구

 [905 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 8261   71   2             1  도봉구
 8262   74   1             1  도봉구
 8263   42   1             1  도봉구
 8264   71   2             1  도봉구
 8265   29   1             1  도봉구
 ...   ...  ..           ...  ...
 9171   82   1             1  도봉구
 9172   76   2             1  도봉구
 9173   67   1             2  도봉구
 9174   66   2             1  도봉구
 9175   60   2             1  도봉구

 [900 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 7337   70   2             1  노원구
 7338   24   1             1  노원구
 7339   68   1             1  노원구
 7340   68   2             1  노원구
 7341   33   1             2  노원구
 ...   ...  ..           ...  ...
 8256   27   2             2  노원구
 8257   23   1             1  노원구
 8258   56   1             2  노원구
 8259   52   2             2  노원구
 8260   22   2             2  노원구

 [922 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 1832   51   2             1  강북구
 1833   51   1             2  강북구
 1834   49   1             1  강북구
 1835   59   2             1  강북구
 1836   87   1             1  강북구
 ...   ...  ..           ...  ...
 2747   49   2             1  강북구
 2748   24   1             1  강북구
 2749   78   1             1  강북구
 2750   77   2             1  강북구
 2751   54   1             2  강북구

 [913 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경 자치구
 21128   54   1             1  중구
 21129   53   2             1  중구
 21130   22   2             2  중구
 21131   26   2             1  중구
 21133   31   1             1  중구
 ...    ...  ..           ...  ..
 22035   77   2             1  중구
 22036   80   1             1  중구
 22037   78   2             1  중구
 22038   63   1             1  중구
 22039   59   2             1  중구

 [884 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 18371   70   2             1  용산구
 18372   34   1             1  용산구
 18373   32   2             2  용산구
 18374   67   1             1  용산구
 18375   56   2             1  용산구
 ...    ...  ..           ...  ...
 19283   59   1             2  용산구
 19284   36   1             2  용산구
 19285   36   2             1  용산구
 19286   74   1             1  용산구
 19287   63   2             1  용산구

 [917 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 15595   60   2             1  송파구
 15596   44   1             2  송파구
 15597   78   2             1  송파구
 15598   80   2             1  송파구
 15599   56   2             1  송파구
 ...    ...  ..           ...  ...
 16526   56   2             1  송파구
 16527   36   2             1  송파구
 16528   68   2             1  송파구
 16529   69   1             1  송파구
 16530   36   1             1  송파구

 [923 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 13759   39   1             1  성동구
 13760   28   2             1  성동구
 13761   58   2             1  성동구
 13762   59   1             1  성동구
 13763   76   2             1  성동구
 ...    ...  ..           ...  ...
 14669   25   1             1  성동구
 14670   55   1             2  성동구
 14671   50   2             1  성동구
 14672   26   1             2  성동구
 14673   23   1             1  성동구

 [905 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경  자치구
 12842   86   1             1  서초구
 12843   84   2             1  서초구
 12844   19   2             1  서초구
 12845   58   2             1  서초구
 12846   76   1             1  서초구
 ...    ...  ..           ...  ...
 13753   24   1             1  서초구
 13754   20   1             1  서초구
 13756   38   2             2  서초구
 13757   72   2             2  서초구
 13758   76   1             2  서초구

 [898 rows x 4 columns],
        만나이  성별  사회환경_동네 자연환경   자치구
 9176    61   1             1  동대문구
 9177    19   2             2  동대문구
 9178    40   1             1  동대문구
 9179    74   1             2  동대문구
 9180    68   2             2  동대문구
 ...    ...  ..           ...   ...
 10089   57   2             2  동대문구
 10090   52   1             1  동대문구
 10091   60   2             2  동대문구
 10092   62   1             1  동대문구
 10093   75   2             1  동대문구

 [907 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 4587   42   2             1  광진구
 4588   74   2             1  광진구
 4589   77   1             1  광진구
 4590   46   1             1  광진구
 4591   36   2             1  광진구
 ...   ...  ..           ...  ...
 5498   20   2             1  광진구
 5499   26   2             1  광진구
 5500   31   1             1  광진구
 5501   30   2             1  광진구
 5502   35   2             1  광진구

 [909 rows x 4 columns],
       만나이  성별  사회환경_동네 자연환경  자치구
 916    74   1             1  강동구
 917    65   2             1  강동구
 918    41   2             1  강동구
 919    50   1             1  강동구
 920    24   2             2  강동구
 ...   ...  ..           ...  ...
 1827   36   2             1  강동구
 1828   41   1             2  강동구
 1829   27   2             2  강동구
 1830   34   2             2  강동구
 1831   34   1             2  강동구

 [916 rows x 4 columns],
      만나이  성별  사회환경_동네 자연환경  자치구
 0     82   2             1  강남구
 1     51   2             1  강남구
 2     26   1             2  강남구
 3     24   1             1  강남구
 4     27   2             1  강남구
 ..   ...  ..           ...  ...
 911   50   2             1  강남구
 912   44   2             1  강남구
 913   59   2             2  강남구
 914   35   2             1  강남구
 915   29   2             2  강남구

 [915 rows x 4 columns]]

In [14]:
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

list_age = ['19~200','19~44','45~64','65~74','75~200']
list_sex = ['계','남','여']
idx_sex = []
idx_age = []
idx_region = []
value_ne = []
for i, value1 in enumerate(list_region):
    for j in list_age:
        for k in list_sex:            
            temp = list_df[i][list_df[i]['만나이']>=int(j.split('~')[0])]
            temp1 = temp[temp['만나이'] <= int(j.split('~')[1])]
            if k == '남':
                temp2 = temp1[temp1['성별'] == 1]
            elif k == '여':
                temp2 = temp1[temp1['성별'] == 2]
            else:
                temp2 = temp1
            value_ne.append(round(temp2['사회환경_동네 자연환경'].value_counts(normalize = True)[1]*100,1))
            if j == '19~200':
                idx_age.append('계')
            elif j == '75~200':
                idx_age.append('75 이상')
            else:
                idx_age.append(j)
            idx_sex.append(k)
            idx_region.append(value1)

In [15]:
df_final = pd.DataFrame({'긍정적 태도율(자연환경)':value_ne, '지역':idx_region,'연령별':idx_age,'성별':idx_sex})

df_final = df_final.set_index(['지역','연령별','성별'])

df_final

              긍정적 태도율(자연환경)
지역  연령별   성별
서울시 계     계            70.1
          남            71.7
          여            68.8
    19~44 계            64.4
          남            66.4
...                     ...
강남구 65~74 남            69.0
          여            77.1
    75 이상 계            93.8
          남           100.0
          여            87.5

[390 rows x 1 columns]

In [16]:
df_final.to_csv("../raw/지역사회건강조사 (전처리된 데이터)_2017/지역사회건강조사 (긍정적 태도율(자연환경))_2017.csv", mode='w',encoding = 'utf-8-sig')